*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  max-height: 100vh;
}

body {
  font-size: 62.7%;
  background: #eceef1;
  font-family: 'Raleway';
}

.header {
  display: flex;
  height: 60px;
  flex-direction: row-reverse;
  padding: 15px 50px 0 0;
}

.signin__button {
  font-size: 1rem;
  color: #fff;
  border: none;
  border-bottom: 1px solid #535353;
  width: 130px;
  background: #0a79c8;
  height: 43px;
  border-radius: 4px;
  margin-right: -15px;
  margin-top: -3px;
}

.signin__header {
  color: rgb(38, 39, 39);
  font-weight: 550;
  font-size: 0.9rem;
  margin-right: 10px;
}

.forgot__ID {
  font-weight: 550;
  font-size: 0.9rem;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 2.1rem;
}
.main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 1rem;
  padding: 2rem;
  font-size: 1.5rem;
  background-color: #fff;
  height: 46.5rem;
  width: 27rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border: 1px solid #c7c7c7;
}

.form__heading {
  font-size: 2rem;
  font-weight: 400;

  margin-bottom: 28px;
  margin-top: 1px;
}

.form__details,
.form__link {
  font-size: 0.8rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #2f83da;
}
.password__wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

input {
  width: 100%;
  height: 36px;
  border: 1px solid #c1c5c8;
  border-radius: 4px;
  margin-top: 10px;
}
.lock {
  margin-right: 0.5rem;
}

.form__wrapper {
  margin-top: 25px;
  font-size: 1.1rem;
}
.lock-open {
  position: absolute;
  margin-left: -10px;
  margin-top: 5px;
  color: grey;
}

.form__phone-description {
  margin-top: 25px;
  font-size: 0.8rem;
}

.submit {
  font-size: 1.3rem;
  margin-top: 30px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #535353;
  width: 100%;
  background: #0a79c8;
  height: 47px;
  padding-left: 5px;
  border-radius: 4px;
}

.policy {
  font-size: 0.9rem;
}
.policy {
  color: rgb(107, 111, 112);
  font-weight: 550;
  font-style: italic;
  margin-top: 60px;
  text-align: center;
  padding: 0 21px 11px 21px;
  line-height: 20px;
}
.recaptcha {
  color: rgb(107, 111, 112);
  font-weight: 550;
  padding-top: 19px;
  margin-top: -53px;
  text-align: center;
  margin-bottom: 18px;
  font-size: 0.8rem;
  background-color: #eceef1;
  width: 26.8rem;
  height: 52px;
}

.footer {
  margin-top: 0rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
}

ul {
  display: flex;
  margin-bottom: 4px;
  list-style: none;
}
ul li {
  padding: 10px 10px 5px 10px;
}
.list {
  text-decoration: none;
  color: black;
}
.list:hover {
  text-decoration: underline;
}
